<section id='gallery'>
  <%= for item <- @data do %>
    <div id="art_<%= item.id %>" class="<%= if item.id == @current_id do "selected " else "" end %>clickable" >
      <img width='150' src='<%= Routes.static_path(@conn, "/images/" <> item.extern_id <> ".jpg") %>'/>
      <div> <%= item.title %> by <%= item.artist.name %></div>
    </div>
  <% end %>
</section>
