<table>
  <tr>
    <th>Art ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Bid</th>
    <th>Bidder</th>
  </tr>
  <%= for item <- @dump do %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.title %></td>
    <td><%= item.artist %></td>
    <td><%= item.bid %></td>
    <td><%= item.bidder %></td>
  </tr>
  <% end %>
</table>
