<section id="obs-view">
  <div id="info">
    <p>
      <span id="title"><%= @piece.title %></span>
      <br/> by <br />
      <span id="artist"><%= @piece.artist.name %></span>
    </p>
    <p id="description"><%= @piece.description %></p>
  </div>
  <div id='imgcontainer'>
    <img id='mainimg' src='<%= Routes.static_path(@conn, "/images/" <> @piece.extern_id <> ".jpg") %>' />
  </div>
  <p id="currentbid">
    Bid: <span id="bid"><%= @bid %></span>
  </p>
</section>
