/* This file is for your main application css. */

body {
  font-family: sans-serif;
}

main {
  display: inline;
}

body[view='page'] {

  background-color: black;
  color: white;

}

th, td {
  padding-right: 5px;
  padding-left: 5px;
}

section#obs-view {
  height: 1080px;
  width:  1920px;
  display: grid;

  grid-template-areas:
    'info mainimg mainimg mainimg'
    'currentbid currentbid . .';

  align-content: space-between;

  /*
  grid-template-columns: 400px auto;
  grid-auto-rows: 900px auto;
  */
}

div#mainimg {
  grid-area: mainimg;
  display: flex;
  align-content: center;
  align-items: center;
}

div#mainimg > img {
  margin: auto;
}

div#info {
  grid-area: info;
  font-size: 26pt;
  max-width: 300px;
}

p#currentbid {
  grid-area: currentbid;
  font-size: 40pt;
  grid-column: 1 / 2;
}

section#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.clickable {
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 2px;
}

.clickable:hover {
  background-color: #eee;
}

.selected {
  color: blue;
  text-decoration: underline;
}
